@import '../../scss/variables';
@import '../../scss/mixins';

:host {
  display: block;

  &[hidden] {
    display: none;
  }
}

.about {
  @include base-content;

  &__signature {
    margin: $gridunit * 3 0 $gridunit * 2 0;
    display: flex;
    gap: $gridunit * 3;
    align-items: center;
  }

  &__profile-image {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;

    img {
      display: block;
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }

  &__signature-text {
    margin: 0;
  }
}

