<h2 class="make-copy__title">Kopie maken</h2>
<div class="alert alert--info">
    <mat-icon class="alert__icon">info</mat-icon>
    <p class="alert__description">
        <strong>Uw gegevens zijn veilig</strong>: Er worden geen cookies gebruikt en al uw data wordt lokaal
        verwerkt in de applicatie waardoor er niets wordt verstuurd naar een server.
    </p>
</div>
<div class="reason-body">
    <h3 class="make-copy__sub-title"
        [class.make-copy__sub-title--error]="reasonNgModel.invalid && (reasonNgModel.dirty || reasonNgModel.touched)">
        <label for="reason">Reden voor de kopie</label></h3>
    <mat-form-field class="reason-body__field">
        <textarea matInput id="reason" [(ngModel)]="reason"
                  maxlength="75"
                  minlength="10"
                  required
                  placeholder="Bijvoorbeeld: &quot;Openen van rekening bij ING bank in januari 2024&quot;. Opgelet: hoe specifieker hoe beter!"
                  rows="3"
                  #reasonNgModel="ngModel"></textarea>
        <mat-hint>Min 10, max 75 karakters.</mat-hint>
        <ng-container *ngIf="reasonNgModel.invalid && (reasonNgModel.dirty || reasonNgModel.touched)">
            <mat-error *ngIf="reasonNgModel.hasError('required')">Reden is <strong>verplicht</strong> (10-75 karakters)
            </mat-error>
            <mat-error *ngIf="reasonNgModel.hasError('minlength')">Reden moet minstens 10 karakters bevatten</mat-error>
            <mat-error *ngIf="reasonNgModel.hasError('maxlength')">Reden mag maximaal 75 karakters bevatten</mat-error>
        </ng-container>
    </mat-form-field>
</div>
<div class="scan-body">
    <div class="scan-body__part">
        <h3 class="make-copy__sub-title">Voorkant document</h3>

        <div class="frame">
            <button type="button" class="placeholder" (click)="handleScan('front', 'preview')"
                    *ngIf="!state.front.showScanPreview && !state.front.showPhoto">
                <mat-icon class="placeholder__icon" color="accent">document_scanner</mat-icon>
                <span class="placeholder__text">Klik / duw hier om de voorkant van uw identiteitskaart (of ander document) te scannen</span>
            </button>
            <div class="video-container" id="video-container-front" *ngIf="state.front.showScanPreview">
                <video id="video-front" class="video" autoplay webkit-playsinline playsinline></video>
            </div>
            <div class="photo-container" *ngIf="state.front.showPhoto">
                <img [src]="state.front.photoUrl" class="photo">
            </div>
            <div class="reden-overlay">
                <div *ngIf="reasonNgModel.valid"><strong>({{now.toLocaleDateString()}} - Voorkant) - Reden kopie:</strong> {{reason}}</div>
            </div>
        </div>

        <div class="action-wrapper">
            <button type="button" mat-raised-button color="danger" (click)="handleScan('front', 'preview')"
                    *ngIf="state.front.showPhoto">
                <mat-icon>document_scanner</mat-icon>
                Opnieuw
            </button>
            <button type="button" mat-raised-button color="warn" (click)="handleScan('front', 'cancel')"
                    *ngIf="state.front.showScanPreview">
                <mat-icon>close_small</mat-icon>
                Annuleren
            </button>
            <button type="button" mat-raised-button color="primary" class="download-action"
                    *ngIf="state.front.showPhoto"
                    (click)="handleScan('front', 'download')">
                Download
                <mat-icon aria-hidden="true" fontIcon="download" class="list-item-icon"></mat-icon>
            </button>
            <button type="button" mat-raised-button color="primary" class="download-action"
                    *ngIf="state.front.showScanPreview || !state.front.showPhoto"
                    [disabled]="!state.front.showScanPreview"
                    (click)="takePicture('front')">
                Foto nemen
                <mat-icon aria-hidden="true" fontIcon="save" class="list-item-icon"></mat-icon>
            </button>
        </div>
    </div>

    <mat-divider class="scan-body__divider"></mat-divider>

    <div class="scan-body__part">
        <h3 class="make-copy__sub-title">Achterkant document</h3>

        <div class="frame">
            <button type="button" class="placeholder" (click)="handleScan('back', 'preview')"
                    *ngIf="!state.back.showScanPreview && !state.back.showPhoto">
                <mat-icon class="placeholder__icon" color="accent">document_scanner</mat-icon>
                <span class="placeholder__text">Klik / duw hier om de achterkant van uw identiteitskaart (of ander document) te scannen</span>
            </button>
            <div class="video-container" id="video-container-back" *ngIf="state.back.showScanPreview">
                <video id="video-back" class="video" autoplay webkit-playsinline playsinline></video>
            </div>
            <div class="photo-container" *ngIf="state.back.showPhoto">
                <img [src]="state.back.photoUrl" class="photo">
            </div>
            <div class="reden-overlay">
                <div *ngIf="reasonNgModel.valid"><strong>({{now.toLocaleDateString()}} - Achterkant) - Reden kopie:</strong> {{reason}}</div>
            </div>
        </div>

        <div class="action-wrapper">
            <button type="button" mat-raised-button color="danger" (click)="handleScan('back', 'preview')"
                    *ngIf="state.back.showPhoto">
                <mat-icon>document_scanner</mat-icon>
                Opnieuw
            </button>
            <button type="button" mat-raised-button color="warn" (click)="handleScan('back', 'cancel')"
                    *ngIf="state.back.showScanPreview">
                <mat-icon>close_small</mat-icon>
                Annuleren
            </button>
            <button type="button" mat-raised-button color="primary" class="download-action"
                    *ngIf="state.back.showPhoto"
                    (click)="handleScan('back', 'download')">
                Download
                <mat-icon aria-hidden="true" fontIcon="download" class="list-item-icon"></mat-icon>
            </button>
            <button type="button" mat-raised-button color="primary" class="download-action"
                    *ngIf="state.back.showScanPreview || !state.back.showPhoto"
                    [disabled]="!state.back.showScanPreview"
                    (click)="takePicture('back')">
                Foto nemen
                <mat-icon aria-hidden="true" fontIcon="save" class="list-item-icon"></mat-icon>
            </button>
        </div>
    </div>

</div>

<!--
<mat-divider class="divider"></mat-divider>
<div class="action-body">
    <span class="">
        Gebruik de download knop onder elke scan om de scan als enkele afbeelding te downloaden. Gebruik deze knop om de beide afbeeldingen samen te downloaden als 1 afbeelding.
    </span>
    <button mat-raised-button color="primary" disabled class="action-body__button">
        Download als 1 afbeelding
        <mat-icon aria-hidden="true" fontIcon="download" class="list-item-icon"></mat-icon>
    </button>
</div>
<mat-divider class="divider"></mat-divider>
-->
