<h2 class="disclaimer-privacy-policy__title">Disclaimer & Privacy Policy</h2>

<h3 class="disclaimer-privacy-policy__sub-title">Privacy policy</h3>

<p class="disclaimer-privacy-policy__text">
    Er worden geen cookies gebruikt en al uw data wordt lokaal verwerkt in de applicatie. Er worden geen gegevens
    verstuurd over het internet naar een externe server.
</p>

<h3 class="disclaimer-privacy-policy__sub-title">Niet waterdicht</h3>
<p class="disclaimer-privacy-policy__text">
    De applicatie werkt door het toevoegen van een watermerk over de kopies van de identiteitskaart of ander document.
    Deze techniek beperkt het gebruik van deze kopies bij een eventueel datalek, maar sluit het zeker niet uit.
    Enkele tips die eventueel misbruik extra kunnen helpen beperken:
</p>
<ul class="disclaimer-privacy-policy__text">
    <li>Onderzoek de reputatie van het bedrijf door online reviews. <strong>Wees kritisch</strong>. Betreft het een overheidsbedrijf of een private
        instantie? Is het een nieuw bedrijf / speler op de markt of een gevestigde waarde?
    </li>
    <li>Beperk de beschikbaarheid van uw document in de tijd door bijvoorbeeld tijdelijke / eenmalige toegang te geven via een <a href="https://support.1password.com/share-items/" target="_blank" class="link">deel-service zoals
        deze van 1Password</a>.
    </li>
</ul>

<h3 class="disclaimer-privacy-policy__sub-title">Contact gegevens</h3>

<p class="disclaimer-privacy-policy__text">
    Deze applicatie wordt ontwikkeld door <a class="link" href="https://samvloeberghs.be" target="_blank"
                                             rel="noopener">Sam Vloeberghs</a>. Bij vragen gelieve contact op te nemen
    via de kanalen ter uwer beschikking op de website van Sam Vloeberghs. De volledige broncode van deze applicatie is beschikbaar ter inzage op <a
        href="https://github.com/samvloeberghs/veilige-kopie-identiteitskaart" class="link"
        target="_blank"
        rel="noopener">Github</a>.
</p>


