<div class="container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar" [class.toolbar--is-mobile]="mobileQuery.matches">
        <button mat-icon-button (click)="sideNav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="toolbar__title">Veilige Kopie ID Kaart</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
                           [class.sidenav-container--is-mobile]="mobileQuery.matches">
        <mat-sidenav #sideNav mode="over"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                     class="sidenav">
            <mat-nav-list class="sidenav__nav-list">
                <a mat-list-item routerLink="/" class="center-flex" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <mat-icon aria-hidden="true" fontIcon="home" class="list-item-icon"></mat-icon>
                    Startpagina
                </a>
                <a mat-list-item routerLink="/kopie-maken" class="center-flex" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <mat-icon aria-hidden="true" fontIcon="document_scanner" class="list-item-icon"></mat-icon>
                    Kopie maken van ID kaart
                </a>
                <a mat-list-item routerLink="/over-ons" class="center-flex" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"
                              class="list-item-icon"></mat-icon>
                    Over deze applicatie
                </a>
            </mat-nav-list>
            <div class="sidenav__version">
                Version: <strong>{{currentVersionSignal()}}</strong>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="body">
                <router-outlet></router-outlet>
            </div>

            <p class="footer-body">
                Deze handige tool werd ontwikkeld door <a class="link" href="https://samvloeberghs.be" target="_blank"
                                                          rel="noopener">Sam
                Vloeberghs</a>. De volledige broncode kan worden ingekeken op <a
                    href="https://github.com/samvloeberghs/veilige-kopie-identiteitskaart" class="link"
                    target="_blank"
                    rel="noopener">Github</a>.
                <strong>Uw gegevens zijn veilig</strong>: Er worden geen cookies gebruikt en al uw data wordt lokaal
                verwerkt in de applicatie waardoor er niets wordt verstuurd naar een server.
            </p>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
