@import '../scss/variables';

:host {
  display: block;
  position: relative;
  height: 100%;
  overflow: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;

  &__title {
    margin-left: $gridunit;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: $gridunit * 4;
    height: $gridunit * 4;
    display: block;
  }
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 0 auto;
  margin-top: $gridunit * 7;
}

.sidenav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 300px;

  &__nav-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__list-item-icon {
    vertical-align: middle;
    margin-right: $gridunit * 2;
  }

  &__nav-list-item--active {
    background: #eee;
  }

  &__nav-list-item--active &__list-item-icon {
    color: var(--mat-stepper-header-selected-state-icon-background-color);
  }

  &__version {
    border-top: 1px solid #ddd;
    padding: $gridunit * 2;
    font-size: 0.9em;
    word-break: break-all;

    strong {
      font-weight: 500;
    }
  }

}

main {
  padding: $gridunit * 2.5 0 $gridunit * 5 0;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $gridunit;
  margin: 0 auto;
  color: #666;
  font-size: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid #ddd;
  text-align: center;
  background: white;
  box-sizing: border-box;
}
