$gridunit: 8px;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  &--is-mobile {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  &__title {
    margin-left: $gridunit;
  }
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

  &--is-mobile {
    flex: 1 0 auto;
    margin-top: $gridunit * 7;
  }
}

.list-item-icon {
  vertical-align: middle;
  margin-right: $gridunit * 2;
}

.nav-list {
  margin-top: 0;
  padding-top: 0;
}

.body {
  padding: $gridunit * 3;
  max-width: 800px;
  margin: 0 auto;
}

.footer-body {
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  color: #666;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid #ddd;
}
