/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import './scss/variables';

html, body {
  overscroll-behavior: none;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert {
  display: flex;
  padding: $gridunit *2 $gridunit * 2;
  gap: $gridunit * 3;
  align-items: center;
  border-radius: $gridunit;
  color: #052c65;
  font: mat.get-theme-typography($theme, body-1, font);
  letter-spacing: mat.get-theme-typography($theme, body-1, letter-spacing);
  margin-bottom: $gridunit * 2;

  &--info {
    background-color: #cfe2ff;
    border-color: currentColor;
  }

  &__icon {
    color: currentColor;
    flex: 0 0 auto;
    font-size: 2em;
    width: 1em !important;
    height: 1em !important;
    display: block;
  }

  &__description {
    flex: 1;
    margin: 0;
  }
}

a.link {
  color: #444;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
  }
}

p {
  margin: 0 0 $gridunit * 2 0;
}

ol, ul {
  margin: 0 0 $gridunit * 2 0;

  li {
    margin-bottom: $gridunit;
  }
}

mat-horizontal-stepper {
  --mat-stepper-container-color: transparent;

  .mat-horizontal-stepper-header-container {
    background: #fff;
    margin-bottom: $gridunit;
  }
}

