@use '@angular/material' as mat;

@mixin base-content {
  padding: 0 $gridunit * 3;

  &__title {
    font: mat.get-theme-typography($theme, headline-5, font);
    letter-spacing: mat.get-theme-typography($theme, headline-5, letter-spacing);
    margin: 0 0 $gridunit * 1.5 0;
  }

  &__sub-title {
    font: mat.get-theme-typography($theme, headline-6, font);
    letter-spacing: mat.get-theme-typography($theme, headline-6, letter-spacing);
    margin: 0 0 $gridunit 0;
    font-weight: 400;

    &--error {
      color: var(--mat-form-field-error-text-color);
    }
  }

  &__text {
    font: mat.get-theme-typography($theme, body-1, font);
    letter-spacing: mat.get-theme-typography($theme, body-1, letter-spacing);
  }
}
